<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/images/favicons/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/images/favicons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/images/favicons/favicon-16x16.png"
/>
<link rel="manifest" href="/assets/images/favicons/site.webmanifest" />
<link
  rel="mask-icon"
  href="/assets/images/favicons/safari-pinned-tab.svg"
  color="#000000"
/>
<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico" />
<meta name="msapplication-TileColor" content="#ffc40d" />
<meta
  name="msapplication-config"
  content="/assets/images/favicons/browserconfig.xml"
/>
<meta name="theme-color" content="#ffffff" />

<!-- end custom head snippets -->
